@font-face {
    font-family: BYekan;
    src: url("../font/YekanBakhFaNum-Regular.ttf");
  }
  @font-face {
    font-family: BYekanBold;
    src: url("../font/YekanBakhFaNum-Bold.ttf");
  }
  .persionName{
    font-family: BYekanBold;
    color: #2F5FBD;
    font-size: 20px;
  }
  .mainBackground{
    width: 100%;
    margin-inline: auto;
    background-color: #ECEEF4;
    background-repeat: no-repeat;
    background-size: cover; /* یا contain */
  
  }
  .listOfHeader li:hover{
    background-color: #0065FF;
    width: 80px;
    height: 41px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;  
    font-family: BYekan;
    font-size: 13px;
    padding-right: 0px;
  }
  
  .hero{
    display: grid;
    justify-items: center;
    overflow: visible;           
  }
  .hero-img{
    margin-top: 40px;
  }
  .hero > *{
    grid-area: 1 / 1;            
  }
  
  