@font-face {
    font-family: BYekan;
    src: url("../font/YekanBakhFaNum-Regular.ttf");
  }
  @font-face {
    font-family: BYekanBold;
    src: url("../font/YekanBakhFaNum-Bold.ttf");
  }
.vod-frame{    
    width: 451px;
    height: 515px;
    background: #1F4590;
    border-radius: 4px;

}
.vod-titr{
    text-align: center;
    color: #0065ff;
    font-size: 20px;
    font-family: BYekanBold;
}
.vod-logo{
    text-align: center;
    margin-top: 95px;
}
.title{
    color: white;
    font-family: BYekanBold;
    font-size: 23px;
    margin-right: 35px;
    line-height: 75px;
}
.text{
    color: white;
    font-family: BYekan;
    font-size: 16px;
    margin-right: 35px;
    line-height: 202%;

}
.sous-titr-1{
    font-size: 15px;
    color: white;
    font-family: BYekan;
    margin-right: 35px;
    line-height: 55px;
}
.sous-titr-2{
    font-size: 13px;
    color: white;
    font-family: BYekan;
    margin-right: 35px;
}
.vod-media {
    width: 100%;
    max-width: 1640px; 
    margin: 0 auto; 
  }
  
  .vod-img {
    width: 100%;
    height: 515px;   
    display: block;
  }
 