.side-bar{
    width: 245px;
    height: 152px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6.2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-top: 30px;
}
.iconofsidebar1 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar2 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar3 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar4 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar5 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar6 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar7 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar8 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar9 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }
  .iconofsidebar10 {
    margin-top: 20px; 
    position: absolute;
    top: 0px;
    right: 26px;
  }